body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  color: #000;
  margin: 0;
  padding: 0;
    line-height: 1.4em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  margin: 0 auto;
  width: 1110px;
  position: relative;
}
a{
text-decoration: none;
  display: block;
}
a:hover{
  text-decoration: underline;
}
p{
margin: 0;
}
ul{
margin: 0;
padding: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
*{
  box-sizing: border-box;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
}
h2{
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.02em;
}
h4{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4em;
    letter-spacing: 0.02em;
}
h3{
    font-weight: 500;
    font-size: 25px;
    line-height: 1.4em;
    letter-spacing: 0.02em;
}
.btn{
  display: block;
  padding: 22px 50px;
  transition: background 0.5s ease;
  border-bottom: 0;
  font-weight: 400;
  font-size: 17px;
}
.btn:hover{
  text-decoration: none;
}

/*Mobile*/

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
	.container {
		max-width: 960px;
	}
	.second-photo{
        display: none;
    }
    .last-photo{
        display: none;
    }
    .block-color{
        display: none;
    }
    .offer__title {
        margin-bottom: 12px;
    }
    .card .card-block__image{
        width: 300px;
    }
    .card__overlay{
        height: 100%;
        width: 100%;
    }
    .swiper-pagination1 {
        display: none;
    }
    .swiper-pagination2 {
        display: none;
    }
    
    .side-bar{
        margin-left: 50px;
    }
    .swiper-button-next{
        display: none !important;
    }
    .swiper-button-prev{
        display: none !important;
    }

}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}
    .main-photo {
        width: 295px;
        height: 458px;
        position: relative;
        margin-top: 53px;
    }
    .offer__title {
        font-size: 40px;
    }
    .card-block:nth-child(n+3){
        margin-top: 30px;
    }
    .card-wrapper{
        flex-wrap: wrap;
    }
    .chars-wrapper{
        flex-wrap: wrap;
    }
    .chars-block:nth-child(n + 3){
        margin-top: 30px;
    }
    .dream-wrapper{
        flex-direction: column;
        align-items: unset;
    }
    .side-bar{
        margin-top: 30px;
        margin-left: 0;
        width: 100%;
    }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}
    .main-photo{
        display: none;
    }
    .offer__text{
        width: 100%;
        margin-right: 0;
    }
    .card-block:nth-child(n+3){
        margin-top: 0;
    }
    .card-block{
        margin-bottom:30px;
    }
    .card-block:last-of-type{
        margin-bottom:0;
    }
    .new-collections {
        text-align: center;
    }
    .card-wrapper{
        justify-content: center;
    }
    .characteristics{
        text-align: center;
    }
    .chars-wrapper{
        justify-content: space-around;
    }
    .chars-block__text{
        width: 100%;
    }
    .chars-block__text-desc{
        text-align: center;
    }
    .chars-block:nth-child(n + 3) {
        margin-top: 0;
    }
    .chars-block {
        margin-bottom: 30px;
    }
    .chars-block:last-of-type {
        margin-bottom: 0;
    }
    .swiper2{
        width: 535px !important;
    }
}

/* Extra small: 320px - 575px */
@media (max-width: 575px) {
	.container {
		padding: 0 15px;
		width: auto;
	}
	.offer__title {
        font-size: 30px;
    }
    .offer-block {
        margin-left: -13px;
    }
}
.sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
    box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
    background: #fff;
    padding: 34px 0 36px;
}
.modals-wrapper{
	height: 100%;
	display: none;
}
.modals-wrapper.active{
	display: block;
}
.modals-wrapper_mini{
	height: 100%;
	display: none;
}
.modals-wrapper_mini.active{
	display: block;
}
.overlay{
	background-color: rgba(110, 156, 159, 0.95);
	width: 100%;
	height: 100%;
	z-index: 11;
	position: fixed;
	top: 0;
	left: 0;
}
.modal-window{
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	width: 491px;
    height: 503px;
	z-index: 11;
	background: #fff;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
	align-items: center;
	padding: 70px;
	transform: translate(0,-50%);
	margin: 0 auto;
    text-align: center;
}
.modal-window_mini{
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	width: 600px;
    height: 278px;
	z-index: 11;
	background: #fff;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
	align-items: center;
	padding: 70px;
	transform: translate(0,-50%);
	margin: 0 auto;
    text-align: center;
}
.modal-window__title{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 35px;
}
.modal-window_mini__title{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 35px;
}
.modal-window-form__item{
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 17px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000000;
    width: 350px;
    padding-bottom: 16px;
    font-family: 'Raleway', sans-serif;
}
.modal-window-form__btn{
    background: #6E9C9F;
    color: #fff;
    padding: 22px 108px;
    font-family: 'Raleway', sans-serif;
    transition: background 0.5s ease;
}
.modal-window-form__btn:hover{
    background: #509498;
}
.modal-window__btn{
    border: 1px solid #6E9C9F;
    color: #6E9C9F;
    padding: 22px 108px;
    font-family: 'Raleway', sans-serif;
    transition: background 0.5s ease;
    padding: 22px 50px;
}
.modal-window__btn:hover{
    background: #6E9C9F;
    color: #FFFFFF;
}
.show{
    display: block !important;
}
.flex{
    display: flex !important;
}
.modal-window-form label {
    right:70px;
}
label{
    display: inline-block;
    margin-bottom: 0.5rem;
    position: absolute;
}
.swiper2{
    height: 487px !important;
    width: 729px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.swiper1{
    width: 563px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.swiper-slide1{
    height: 385px !important;
}
.swiper-slide2{
    height: 487px !important;
    width: 729px !important;
}
.swiper-pagination-bullet{
    width: 30px !important;
    height: 4px !important;
    border-radius: 0 !important;
    z-index: 9 !important;
    background: #D1D1D1;
}
.swiper-pagination-bullet-active{
    background: #000000 !important; 
}
.swiper-pagination2 .swiper-pagination-bullet-active{
    background: #FFFFFF !important; 
}
.swiper-pagination2 .swiper-pagination-bullet{
    width: 30px !important;
    height: 4px !important;
    border-radius: 0 !important;
    z-index: 9 !important;
    background: rgba(255, 255, 255, 0.36);
}
.swiper-pagination1{
    position: absolute;
    bottom: 170px !important;
    width: 115px !important;
    left: 660px !important;
    z-index: 9 !important;
}
.swiper-pagination2{
    position: absolute;
    bottom: -2000px !important;
    width: 115px !important;
    left: 670px !important;
    z-index: 9 !important;
}
.footer-navigation{
    display: none;
    font-weight: 400;
    font-size: 13px;
    padding-top: 15px;
    top: 100%;
    position: absolute;
    gap: 10px;
}
.footer-nav{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4em;
    letter-spacing: 0.02em;
    position: relative;
}
.navigation-new {
    display: none;
    position: absolute;
    top: 65px;
    font-weight: 400;
    font-size: 13px;
    padding-top: 39px;
}
.navigation-new-block{
        top: 55px !important;
}
.mobile-menu{
    display: none;
    background: #ff5600;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}
.tel-menu{
    display: none;
}
.navigation-tel{
    display: none;
}
.mobile-wrapper{
    display: flex;
    flex-direction: column;
}
/* Large: 992px - 1199px */
@media (max-width: 1199px) {
	.container {
		max-width: 960px;
	}
	.tel-menu{
        display: none;
    }
    .navigation-tel{
        display: none;
    }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}
    .nav-block{
        display: none;
    }
    .tel-menu{
        display: none;
        position: fixed;
        top: 100px;
        z-index: 10000;
        background: #fff;
        font-size: 20px;
        right: 12%;
    }
    .navigation__item{
        margin-bottom: 14px;
        margin-right: 10px;
    }
	.navigation-tel{
        display: flex;
        flex-direction: column;
        padding: 20px 0 13px;
    }
    .mobile-menu{
        display: block;
        background: #ff5600;
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 5px;
        color: #fff;
    }
    .navigation-new {
        display: none;
        position: absolute;
        top: 20px;
        font-weight: 400;
        font-size: 13px;
        right: 120px;

    }
    
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}
    
}

/* Extra small: 320px - 575px */
@media (max-width: 575px) {
	.container {
		padding: 0 15px;
		width: auto;
	}
    .nav-tel__item{
        display: none;
    }
    .nav-logo{
        margin-right: 10px;
    }
    .nav-tel{
        margin-right: 10px;
    }
    .nav-bag{
        margin-right: 10px;
    }
    .social{
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: column;
    }
    .conf-info { 
        margin-top: 111px;
    }
    .swiper2 {
        width: 300px !important;
    }
    h2 {
        font-size: 30px;
    }
    .nav-tel__item{
        display: none;
    }
    .bread-nav{
        display: none;
    }
}